# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# 4 space indentation. Spaces are preferred for more consistent
# appearance in browsers as well as IDEs
[{*.py,*.java,*.kt,*.xml,*.yml,*.yaml,*.js,Dockerfile}]
indent_style = space
indent_size = 4

# IntelliJ specific properties
ij_java_class_count_to_use_import_on_demand = 10
ij_java_names_count_to_use_import_on_demand = 10
ij_java_imports_layout = java.**,javax.**,|,*,|,org.springframework.**,|,$*
ij_java_field_annotation_wrap = off

ij_kotlin_name_count_to_use_star_import = 10
ij_kotlin_name_count_to_use_star_import_for_members = 10
ij_kotlin_field_annotation_wrap = off
ij_kotlin_wrap_elvis_expressions = 0
