body { background-color: white; }

h1
{
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 16pt; font-weight: bolder; color: #550055
}

h2
{
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 13pt; font-weight: 700; color: #000066
}

th.searchheader    { background-color: rgb(70%,70,70%); text-align: center; }
th.matchheader     { background-color: #CCCCCC; text-align: center; }
th.dartsheader     { background-color: #CCCCCC; text-align: left;  }

td.matchcell       { background-color: #FFFFCC; text-align: center; }
td.dartsresultcell { background-color: #FFFFCC; text-align: left; }
td.entryheader     { background-color: #CCCCCC; text-align: right; }
td.findbuttoncell  { background-color: #CCCCCC; text-align: center; }
td.entrycell       { background-color: #FFFFCC; text-align: left; }
td.htmlpiccell     { text-align: right; }

div.andyscentre    { text-align: center; }

.emphasis
{
	font-family: Palatino,"Times New Roman",serif; font-size: 11pt; font-weight: 600; color: #222222
}

.main
{
	font-family: Palatino,"Times New Roman",serif; font-size: 11pt; font-weight: 300; color: #333333
}